<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#isinstance-?" data-toc-modified-id="isinstance-?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>isinstance ?</a></span></li><li><span><a href="#Simple-Functions" data-toc-modified-id="Simple-Functions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Simple Functions</a></span></li><li><span><a href="#Function-within-a-Function" data-toc-modified-id="Function-within-a-Function-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Function within a Function</a></span></li><li><span><a href="#Conditional-Statements-within-Functions" data-toc-modified-id="Conditional-Statements-within-Functions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Conditional Statements within Functions</a></span></li><li><span><a href="#Arguments-vs-Parameters" data-toc-modified-id="Arguments-vs-Parameters-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Arguments vs Parameters</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Positional-Arguments" data-toc-modified-id="Positional-Arguments-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Positional Arguments</a></span></li></ul></li></ul></li><li><span><a href="#Defining-Default-Values-(Positional-Arguments)" data-toc-modified-id="Defining-Default-Values-(Positional-Arguments)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Defining Default Values (Positional Arguments)</a></span></li><li><span><a href="#Named-Arguments" data-toc-modified-id="Named-Arguments-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Named Arguments</a></span></li><li><span><a href="#Unpacking-Iterables" data-toc-modified-id="Unpacking-Iterables-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Unpacking Iterables</a></span><ul class="toc-item"><li><span><a href="#Unpacking-a-Tuple" data-toc-modified-id="Unpacking-a-Tuple-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Unpacking a Tuple</a></span></li></ul></li><li><span><a href="#Our-Task:-Find-similar-company-names" data-toc-modified-id="Our-Task:-Find-similar-company-names-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Our Task: Find similar company names</a></span><ul class="toc-item"><li><span><a href="#Your-high-level-task" data-toc-modified-id="Your-high-level-task-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Your high level task</a></span></li><li><span><a href="#Matching-Company-Names" data-toc-modified-id="Matching-Company-Names-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Matching Company Names</a></span><ul class="toc-item"><li><span><a href="#STEP-1:-Read-the-list-of-names-from-a-file-and-create-a-list-of-names" data-toc-modified-id="STEP-1:-Read-the-list-of-names-from-a-file-and-create-a-list-of-names-9.2.1"><span class="toc-item-num">9.2.1&nbsp;&nbsp;</span>STEP 1: Read the list of names from a file and create a list of names</a></span></li><li><span><a href="#STEP-2:-Implement-the-similarity-function" data-toc-modified-id="STEP-2:-Implement-the-similarity-function-9.2.2"><span class="toc-item-num">9.2.2&nbsp;&nbsp;</span>STEP 2: Implement the similarity function</a></span></li><li><span><a href="#Computing-the-similarity-between-two-strings" data-toc-modified-id="Computing-the-similarity-between-two-strings-9.2.3"><span class="toc-item-num">9.2.3&nbsp;&nbsp;</span>Computing the similarity between two strings</a></span><ul class="toc-item"><li><span><a href="#STEP-2.a:-Let's-figure-out-how-we-can-install-the-libraries..." data-toc-modified-id="STEP-2.a:-Let's-figure-out-how-we-can-install-the-libraries...-9.2.3.1"><span class="toc-item-num">9.2.3.1&nbsp;&nbsp;</span>STEP 2.a: Let's figure out how we can install the libraries...</a></span></li><li><span><a href="#STEP-2.b:-Now-let's-test-our-similarity-functions-with-various-examples" data-toc-modified-id="STEP-2.b:-Now-let's-test-our-similarity-functions-with-various-examples-9.2.3.2"><span class="toc-item-num">9.2.3.2&nbsp;&nbsp;</span>STEP 2.b: Now let's test our similarity functions with various examples</a></span></li><li><span><a href="#Ngrams" data-toc-modified-id="Ngrams-9.2.3.3"><span class="toc-item-num">9.2.3.3&nbsp;&nbsp;</span>Ngrams</a></span></li><li><span><a href="#Task-1:-Create-a-function-that-takes-as-input-two-strings-and-returns-their-similarity" data-toc-modified-id="Task-1:-Create-a-function-that-takes-as-input-two-strings-and-returns-their-similarity-9.2.3.4"><span class="toc-item-num">9.2.3.4&nbsp;&nbsp;</span>Task 1: Create a function that takes as input two strings and returns their similarity</a></span></li><li><span><a href="#Task-2:-Modify-the-functions-above-to-allow-for-various-similarity-calculation-methods." data-toc-modified-id="Task-2:-Modify-the-functions-above-to-allow-for-various-similarity-calculation-methods.-9.2.3.5"><span class="toc-item-num">9.2.3.5&nbsp;&nbsp;</span>Task 2: Modify the functions above to allow for various similarity calculation methods.</a></span></li></ul></li><li><span><a href="#STEP-3:-Compute-similarity-of-a-company-against-a-list-of-company-names" data-toc-modified-id="STEP-3:-Compute-similarity-of-a-company-against-a-list-of-company-names-9.2.4"><span class="toc-item-num">9.2.4&nbsp;&nbsp;</span>STEP 3: Compute similarity of a company against a list of company names</a></span></li><li><span><a href="#Step-4:-Perform-the-similarity-computation-across-all-companies-in-the-dataset." data-toc-modified-id="Step-4:-Perform-the-similarity-computation-across-all-companies-in-the-dataset.-9.2.5"><span class="toc-item-num">9.2.5&nbsp;&nbsp;</span>Step 4: Perform the similarity computation across all companies in the dataset.</a></span></li></ul></li></ul></li></ul></div>

# isinstance ?

In [2]:
items = ["mike", "Phone", 332.1, 330, 245.8, "Pie", "Apple Pie"]

In [3]:
items

['mike', 'Phone', 332.1, 330, 245.8, 'Pie', 'Apple Pie']

In [4]:
type(items)

list

In [5]:
isinstance(123, float)

False

In [6]:
isinstance(123.12, float)

True

In [ ]:
items.sort() # Will generate an error

In [7]:
str_items = ["abc", "IBM", "GS", "SD", "SNP", "CITI", "bbb"]
str_items

['abc', 'IBM', 'GS', 'SD', 'SNP', 'CITI', 'bbb']

In [8]:
str_items

['abc', 'IBM', 'GS', 'SD', 'SNP', 'CITI', 'bbb']

In [9]:
str_items.sort()

In [10]:
str_items

['CITI', 'GS', 'IBM', 'SD', 'SNP', 'abc', 'bbb']

In [ ]:
str_items.sort(key = str.lower)
str_items

In [ ]:
str_items.sort(key = str.lower, reverse = True)
str_items

In [ ]:
new_items = sorted(str_items)
new_items

In [ ]:
new_items = sorted(str_items, key = str.lower, reverse = True)
new_items

In [ ]:
int_items = [123,23,224,252,98973,7809234,623]
int_items

In [ ]:
int_items.sort()

In [ ]:
int_items

In [ ]:
new_items = sorted(int_items, reverse = True)
new_items

In [ ]:
new_items = sorted(int_items)
new_items

In [ ]:
new_items = sorted(int_items, reverse = True)
new_items

In [ ]:
sum(new_items)

In [ ]:
len(new_items)

In [ ]:
sum(int_items)

In [ ]:
int_items == new_items

In [ ]:
sum(int_items) == sum(new_items)

In [ ]:
str_items

In [12]:
str_items = ["abc", "IBM", "GS", "SD", "SNP", "CITI", "bbb", 22, 3.14159, 33,44,99.99999]
str_items

['abc', 'IBM', 'GS', 'SD', 'SNP', 'CITI', 'bbb', 22, 3.14159, 33, 44, 99.99999]

In [13]:
def parse_lists(abc):
    str_list_items = []
    num_list_items = []
    for i in abc:
        if isinstance(i, float) or isinstance(i, int):
            num_list_items.append(i)
        elif isinstance(i, str):
            str_list_items.append(i)
        else:
            pass
        
    return str_list_items, num_list_items

print(parse_lists(str_items))

(['abc', 'IBM', 'GS', 'SD', 'SNP', 'CITI', 'bbb'], [22, 3.14159, 33, 44, 99.99999])

In [ ]:
def my_sum(num_list):
    total = 0
    for i in num_list:
        if isinstance(i, float) or isinstance(i, int):
            total += i
    return total

In [ ]:
my_sum(str_items)

In [ ]:
def my_avg(my_num_list):
    the_sum = my_sum(my_num_list)
    num_of_items = len(my_num_list)
    return the_sum / (num_of_items * 1.0)

In [ ]:
my_avg(str_items)

In [ ]:
str_items = ["IBM", "GS", "SD", "SNP", "CITI", 22, 3.14159, 33,44,99.99999]

In [ ]:
def parse_lists(abc):
    str_list_items = []
    num_list_items = []
    for i in abc:
        if isinstance(i, float) or isinstance(i, int):
            num_list_items.append(i)
        elif isinstance(i, str):
            str_list_items.append(i)
        else:
            pass
        
    return str_list_items, num_list_items

print(parse_lists(str_items))

In [14]:
def ticker_extract(list_name):
    all_tickers = []
    all_prices = []
    for i in list_name:
        if isinstance(i, int) or isinstance(i, float):
            all_prices.append(i)
        elif isinstance(i, str):
            all_tickers.append(i)
        else:
            pass
        
    return all_tickers, all_prices

In [15]:
ticker_extract(str_items)

(['abc', 'IBM', 'GS', 'SD', 'SNP', 'CITI', 'bbb'],
 [22, 3.14159, 33, 44, 99.99999])

In [16]:
all_prices

NameError: name 'all_prices' is not defined

In [17]:
print(ticker_extract(str_items))

(['abc', 'IBM', 'GS', 'SD', 'SNP', 'CITI', 'bbb'], [22, 3.14159, 33, 44, 99.99999])

In [18]:
a =ticker_extract(str_items)[1]

# Simple Functions

In [47]:
def simple():
    print("Hello World!")

In [48]:
simple()

Hello World!

In [49]:
def plus_ten(a):
    return a + 10

In [25]:
plus_ten(10)

20

In [26]:
plus_ten(5)

15

In [27]:
def plus_ten(a):
    result = a + 10
    return result

In [28]:
plus_ten(5)

15

In [29]:
plus_ten(-1)

9

# Function within a Function

In [30]:
def wage(w_hours):
    return w_hours * 25

In [31]:
wage(10)

250

In [32]:
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [33]:
wage(10)

250

In [34]:
with_bonus(10)

300

# Conditional Statements within Functions

In [36]:
def add(m):
    if m >= 100:
        m = m + 10 # Or m += 10
        return m
    else:
        return "Save more."

In [37]:
add(90)

'Save more.'

In [38]:
add(100)

110

# Arguments vs Parameters

<b>What is the difference between arguments and parameters? </b>

### Positional Arguments

In [43]:
def my_func(a,b,c):
    print("a={0}, b={1}, c={2}".format(a,b,c))

In [44]:
my_func(10,20,30)

a=10, b=20, c=30

Another Function Now:

In [45]:
def my_func2(a,b):
    return a + b

In [46]:
my_func2(10,20)

30

In these examples, a,b,c...,n etc are the parameters of the functions (my_func, my_func2 etc). 
When the functions are called, the values of a,b,c,...,n are arguments.

This is a minor detail, and shouldn't really change the way you code, but helps with precision of terminology when communicating with someone.

  # Defining Default Values (Positional Arguments)

In [50]:
def my_func(a, b=20, c=30):
    print("a={0}, b={1}, c={2}".format(a, b, c))

In [51]:
my_func(10)

a=10, b=20, c=30

In [52]:
my_func(100,200,300)

a=100, b=200, c=300

In this case, the values (or parameters) for b and c have already been defined. However, there is a caveat:

In [59]:
def my_func_again(a,b, c = 30):
    print(a,b,c)

In [60]:
my_func_again(100, 200, 300)

100 200 300

The above function gives an error. Can you guess why?

Once a parameter has been given a default value, all following parameters must be assigned a default value as well. Else, errors like the one above will be generated.

In [61]:
def my_func_again(a,b = 10, c = 50):
    print(a,b,c)

In [62]:
my_func_again(100)

100 10 50

In [63]:
my_func_again(100,3.14)

100 3.14 50

Since paramater 'a' does not have a default value, we must specify it.

# Named Arguments

This is similar to above - But with a minor difference. With named arguments, the position of the argument doesn't matter, only the name matters. Examples below:

In [64]:
def my_func(a , b = 10, c = 50):
    print(a,b,c)

In [65]:
my_func(1)

1 10 50

In [66]:
my_func(1,2,3)

1 2 3

In [67]:
my_func(1, c= 10, b = 2)

1 2 10

Let us go in deeper. Look at the function below. In how many ways can we provide the values needed?

In [68]:
from math import sqrt

def polynomial_func(a,b,c):
    x1 = -c / (2 * b**2)
    x2 = sqrt(b**2 - 2*a*b)/(2*a)

    return (x1 + x2), (x1 - x2)

<b> Method 1</b>

By providing positional values.

In [69]:
polynomial_func(10,20,30)

(-0.0375, -0.0375)

<b>Method 2</b>

By providing Named Arguments

In [71]:
polynomial_func(c = 30, b = 20, a = 10)

(-0.0375, -0.0375)

We can improve this further by leaving notes in Docstrings.

In [78]:
from math import sqrt

def polynomial_func(a,b,c):
    """
    In this function, 
    "a" is from observations from Machine 1, 
    "b" is from observations from Machine 2,
    "c" is from observations from Machine 3.
    # This is also possible
    
    """
    x1 = -c / (2 * b**2)
    x2 = sqrt(b**2 - 2*a*b)/(2*a)

    return (x1 + x2), (x1 - x2)

In [79]:
help(polynomial_func)

Help on function polynomial_func in module __main__:

polynomial_func(a, b, c)
    In this function,
    "a" is from observations from Machine 1,
    "b" is from observations from Machine 2,
    "c" is from observations from Machine 3.
    # This is also possible

# Unpacking Iterables

First, remember the structure of Tuples.

In [84]:
a = 1,2,3

type(a)

tuple

In [85]:
a = (1,2,3)
type(a)

tuple

As we had discussed previously, it's the comma that creates a Tuple, not the parantheses. Although when creating an iterable tuple, we need to distinguish the tuple from merely another value.

In [88]:
a = (1)
type(a)

int

In [89]:
a = (1,)
type(a)

tuple

In [90]:
a = 1,
type(a)

tuple

In [91]:
l = ['GS', 'IBM', 'BRK.B']
a = tuple([l]) # A tuple constructor
type(a)

tuple

## Unpacking a Tuple

In [101]:
list1 = [1,2,3,4]
# this lines PACKS values 
# into variable
details = ("BRK.B", 202.4, "Fin Services")   
  
# this lines UNPACKS values 
# of variable a 
(ticker, price, category) = details

In [102]:
details1 = ("BRK.B", 202.4, "Fin Services")

In [103]:
details1

('BRK.B', 202.4, 'Fin Services')

In [106]:
(ticker, price, category) = details1
print(details1[1])

202.4

In [107]:
print(ticker)

BRK.B

In [ ]:
print(price)

Minor digression - on why Tuples are preferable over lists in some cases.

In [108]:
import sys

list_a = [1,2,3,4,5,6,7,8,9,10]
tup_a = (1,2,3,4,5,6,7,8,9,10)
print("The size of list_a is", sys.getsizeof(list_a), "bytes")
print("The size of tup_a is", sys.getsizeof(tup_a), "bytes")

The size of list_a is 144 bytes
The size of tup_a is 128 bytes

# Our Task: Find similar company names

Now that we have completed our Python Primer, let's try to complete a real task, while at the same time trying to practice loops, iterations, and other Python functionality that we studied.

## Your high level task

You are given a list of names. You know that the same entity in the list has different representations. You want to find duplicate companies in the data.

As a concrete example, open the file under `data/restaurant-names.txt`. This contains a list of restaurant names, extracted from the [NYC Restaurant inspection data set](https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/xx67-kt59/data) (available online). The Department of Health has been doing a decent, but not perfect, job in recording the company names. Therefore, the same restaurant appears under different names. **Your task is to find "almost duplicate" entries in order to decide whether they correspond to the same business.**

In [109]:
!head -10 ./data/restaurant-names.txt

#1 GARDEN CHINESE
#1 ME. NICK'S
#1 SABOR LATINO RESTAURANT
$1.25 PIZZA
''U'' LIKE CHINESE RESTAURANT
''W'' CAFE
'WICHCRAFT
(LEWIS DRUG STORE) LOCANDA VINI E OLII
(LIBRARY)  FOUR & TWENTY BLACKBIRDS
(PUBLIC FARE) 81ST STREET AND CENTRAL PARK WEST (DELACORTE THEATRE)

In [110]:
!tail -5 ./data/restaurant-names.txt

ZUTTO
ZUZU RAMEN
ZYMI BAR & GRILL
ZZ CLAM BAR
ZZ'S PIZZA & GRILL

## Matching Company Names

Quite often, in our data, we have entries represented as strings that refer to the same entity but have different string representations (e.g., McDonald's vs McDonalds vs McDonald‎). We want to write code that will help in the task of finding such similar entries in our data.

Our task can be broken in the following tasks:
* **Step 1**: Read the data from a file into a list of strings in memory. We have a data set under the `data` folder: The list of unique restaurant names from the NYC Restaurant Inspection dataset (`data/restaurant-names.txt`). We need to write Python code that will read th file and return a list of strings that are the company names.
* **Step 2**: We will then need to figure out how to compare two strings and find their similarity. For that, we will write a function that takes as input **two** strings, and returns back their similarities. We will explore multiple ways of writing that function, using various library functions.
* **Step 3**: We will need to write a function that takes as input a company name, and returns back a list of matching company names, together with their similarity. Ideally, we would like to also sort the list based on the similarity (highest similarity metrics on top). As part of our learning process, we will use the _list comprehension_ approach to create the list. We will also use tuples as the elements of the list, so that the list contain elements such as `[("McDonalds", 0.88), ("McDonald's", 0.81),....]`.
* **Step 4**: In the final step, we will just perform the similarity computation across all companies in the dataset.

### STEP 1: Read the list of names from a file and create a list of names

In [111]:
# STEP 1: Read the list of names from a file and create a list of names
filename = './data/restaurant-names.txt'

# We open the filename for reading
f = open(filename, 'r')
# Read the file into memory
content = f.read()
# Content is a big string, with one restaurant per line
# so we split it into lines and create a list with the restaurant names
restaurants = content.split('\n')

In [112]:
len(restaurants)

20444

In [113]:
restaurants

['#1 GARDEN CHINESE',
 "#1 ME. NICK'S",
 '#1 SABOR LATINO RESTAURANT',
 '$1.25 PIZZA',
 "''U'' LIKE CHINESE RESTAURANT",
 "''W'' CAFE",
 "'WICHCRAFT",
 '(LEWIS DRUG STORE) LOCANDA VINI E OLII',
 '(LIBRARY)  FOUR & TWENTY BLACKBIRDS',
 '(PUBLIC FARE) 81ST STREET AND CENTRAL PARK WEST (DELACORTE THEATRE)',
 "/ L'ECOLE",
 '002 MERCURY TACOS LLC',
 '1 2 3 BURGER SHOT BEER',
 '1 BANANA QUEEN',
 '1 BUEN SABOR',
 '1 DARBAR',
 '1 EAST 66TH STREET KITCHEN',
 '1 OAK',
 '1 OR 8',
 '1 STOP PATTY SHOP',
 '1.5 GALBI CORP',
 '10 DEVOE',
 '10 POINTS KTV',
 '100 FUN',
 '100% PATACON CACHAPA YAROA',
 '100% SMOOTHIES & EMPANADAS',
 '1001 NIGHTS',
 '1001 NIGHTS CAFE',
 '1005 CATERING',
 '101 CAFE',
 '101 DELI',
 '101 RESTAURANT AND BAR',
 '102 NOODLES TOWN RESTAURANT',
 '1020 BAR',
 '1028 BAR & RESTAURANT EL SALVADORENO ',
 '104-01 FOSTER AVENUE COFFEE SHOP(UPS)',
 '1061 CATERING LLC',
 '107 WEST RESTAURANT',
 '108 FAST FOOD CORP',
 '108 LOUNGE - CLUB 108',
 '1081 FULTON',
 '10TH AVENUE COOKSHOP',
 '10TH AVENUE PIZZA & CAFE',
 '11 STREET CAFE',
 '111 RESTAURANT',
 '1174 FULTON CUISINE, HALAL FOOD',
 '12 CHAIRS',
 '12 CHAIRS CAFE',
 '12 CORAZONES RESTAURANT & BAR',
 '12 CORNERS',
 '12 CORNERS COFFEE INC',
 '12 STREET ALE HOUSE',
 '120 BAY CAFE',
 '1200 MILES',
 '121 FULTON STREET',
 '123 NIKKO',
 '124 COFFEE SHOP',
 '128 DUMPLING HOUSE',
 '12TH STREET BAR & GRILL',
 '137 BAR & GRILL',
 '1380 BRONX RIVER CAFE CORP',
 '149 STEAM FISH CORP.',
 '14TH STREET PIZZA BAGEL CAFE',
 '15 CENTRAL PARK WEST RESTAURANT',
 '15 EAST RESTAURANT',
 '15 FLAVORS',
 '15 FLAVORS ',
 '15 ST CAFE',
 '156 TEX BAR AND LOUNGE',
 '16 HANDLES',
 '16 HANDLES FROZEN YOGURT',
 '16 HANDLES MIDWOOD',
 '1617-A NATIONAL BAKERY',
 '162 EB CORP BAKERY',
 '168 ASUKA SUSHI',
 '168 BOWERY HOLDING LLC',
 '168 HI TEA',
 '168 TEA LLC',
 '169 BAR',
 '16TH AVENUE GLATT',
 '1734 VICTORY BOULEVARD,INC.',
 '18 BAKERY',
 '18 CHINESE CUISINE',
 '18 EAST GUNHILL PIZZA',
 '18 HIPOT',
 '18 RESTAURANT',
 '18 STARS KITCHEN',
 '181 ST CARIDAD RESTAURANT',
 '1818 SEAFOOD RESTAURANT',
 '187 YANG GARDEN',
 '188 FAST FOOD INC',
 '19 CAFE',
 '1962 SOGONGDONG SONTOFU',
 '19A EMPIRE RESTAURANT',
 '1A STORE INC',
 '1ST AVENUE GOURMET',
 '1ST BASE CONCESSION STAND',
 '1ST MAMA RESTAURANT',
 '1ST STOP',
 '2 BROS',
 '2 BROS PIZZA',
 '2 BROTHERS RESTAURANT',
 '2 CHILL',
 '2 DUCK GOOSE',
 '2 IN 1 RESTAURANT',
 '2 PALMITAS MEXICAN DELI',
 '200 FIFTH AVENUE RESTAURANT & SPORTS BAR',
 '200 ORCHARD BAR',
 '201 BAR AND RESTAURANT',
 '2013 BROOKLYN RESTAURANT',
 '203 LENA INC',
 '2058 DELI AND GROCERY',
 '21 BAR',
 '21 CLUB',
 '21 SHANGHAI HOUSE',
 '21+ LOUNGE.',
 '211 NEW TACO GRILL',
 '212 SHAWARMA GRILL',
 '212 STEAKHOUSE',
 '216 GOOD JOY CHINESE RESTAURANT',
 '218 RESTAURANT',
 '22 THAI CUISINE',
 '224TH CORNER RESTAURANT & BAKERY',
 '229 LINDEN RESTAURANT',
 '230 FIFTH',
 '232 WILLIS AVENUE FOODS, LLC',
 '234 CHINA CITY',
 '2419 CHINA STAR RESTAURANT',
 '241ST CAFE RESTAURANT',
 '2432 PEKING HOUSE INC',
 '2460 LUCKY GARDEN',
 '248 HOSPITALITY GROUP LLC',
 '25TH DELI',
 '26 SEATS',
 '2647 DOUBLE DRAGON CHINESE RESTAURANT',
 '27 SHENG WANG NOODLE SHOP',
 '27 SHINJUKU SUSHI INC',
 '27 SPORTS BAR & CAFE',
 "28 MR. MING'S CAFFE",
 '28 NOODLES',
 '286 PIZZA PLACE INC',
 '29TH STREET HOTEL ACQUISITION LLC',
 '2A',
 '2FL',
 '2ND AVE BLUE 9 BURGER',
 '2ND AVENUE DELI',
 '3 ALARM',
 "3 D'S LEGACY SALAD & GRILL",
 '3 DELI & GRILL',
 '3 ESQUINAS RESTAURANT',
 '3 GUYS',
 '3 GUYS RESTURANT',
 '3 IN 1 FS&H JAMAICAN RESTAURANT',
 '3 IN 1 KITCHEN',
 '3 MOUNTS',
 '3 ROOTS',
 '3 SHEETS SALOON',
 "3 SISTERS' & SHANTA'S RESTAURANT & BAKERY",
 '3 STAR JUICE CENTER',
 '3 WAY RESTAURANT',
 '3-J RESTAURANT AND PIZZA',
 '301 CAFE JUICE AND SMOOTHIES',
 '310 - EXELSIOR',
 '318 - TWO BOOTS',
 '31ST AVENUE GYRO.',
 '32 DEGREE FROYO LOUNGE',
 '33 GOURMET',
 '337 - BURGERS & DOGS',
 '3463 JUICES FOR LIFE LLC',
 '35 DUET',
 '36-02 DITMARS COFFEE CORP.',
 '360 LOUNGE',
 '36TH AVE COFFEE SHOP',
 '374 DELI',
 '38 DELI',
 '388 CAFE & DELI',
 '38TH STREET DINER',
 '39 COFFEE SHOP',
 '39 KARAOKE',
 '395 GOURMET AND GROCERY',
 '3E TASTE OF THAI',
 '3RD & 7',
 '40/40 CLUB',
 '40/40 CLUB BAR',
 '401 LUCKY STAR RESTAURANT',
 '40TH ROAD LUNCH BOX',
 '414 HOTEL',
 '414 LATINO RESTAURANT SPORTS BAR',
 '42ND STREET PIZZA DINER',
 "44 & X HELL'S KITCHEN",
 '44 1/2 CAFE',
 '44 SW RISTORANTE & BAR',
 '444 MADISON COFFEE SHOP',
 '44TH STREET MINAR',
 '44TH STREET PIZZA',
 '456 RESTAURANT',
 '4618 BAKERY',
 '46TH ST STATION HOUSE',
 '49 GROVE',
 '4D',
 '4TH DOWN',
 '4TH FLOOR CAFE',
 '5 AVENUE ASIAN TASTE',
 '5 BORO BURGER',
 '5 BURRO CAFE',
 '5 DE MAYO',
 '5 ESTRELLA BAKERY',
 '5 NAPKIN BURGER',
 '5 STAR CHEESE STEAK AND PIZZA',
 '5 STAR CHEESESTEAK AND PIZZA',
 '5 STAR VILLAGE CAFE',
 '5 TH & VINE',
 '502 BAR LOUNGE',
 '502 HUDSON BAGEL CORP',
 '508 RESTAURANT AND BAR',
 '510 11ST BAR',
 '51ST BAKERY AND CAFE',
 '525 LEX RESTAURANT & BAR',
 '52ND SUSHI',
 '54 BELOW',
 '55 BAR',
 '55 DELI & GRILL INC',
 '55 THOMAS CAFE',
 '555 VIVACAFE',
 '556 EL CAFE INTERNATIONAL',
 "57'S ALL AMERICAN GRILL",
 '59 CHINA',
 '59E59 BAR',
 '5BAR KARAOKE',
 '5IVE STEAK',
 '5TH AVENUE BAGELTIQUE CAFE',
 '5TH AVENUE EMPIRE CAFE',
 '61 LOCAL',
 '620 ON CATON',
 '624 KAM HAI CHINESE FOOD',
 '6321 YUAN BAO',
 "652 LIN'S GARDEN",
 '658 KINGS DELI',
 '66 HOPE CAFE',
 '66 PRINCE RESTAURANT',
 '66TH STREET DONUTS LLC',
 '67 BURGER',
 '67 ORANGE STREET',
 '67 RESTAURANT',
 '678 AURORA CATERING INC',
 '68 DELI CANAL STORE',
 '68 JAY STREET BAR',
 '68 MEI MEI BAKERY',
 '69 BAR LOUNGE',
 '69 BAYARD RESTAURANT',
 '69 COFFEE SHOP',
 '69 PIZZERIA',
 '696 GOURMET DELI',
 '6B',
 '7 GRAMS CAFFE',
 '7 GREEN & GRAIN',
 '7 SPICES',
 '7 STARS',
 '7 TACOS MEXICAN CUISINE CORP',
 '706 BAR',
 '71 IRVING PLACE',
 '718 HOOKAH LOUNGE',
 '718 LOUNGE',
 '718 LOUNGE & TAPAS',
 '729 BAR & GRILL',
 '72ND STREET BAGEL',
 '739 FRANKLIN BAR & LOUNGE',
 '76/BEERS OF BROOKLYN',
 '765 FOOD MARKET',
 '773 LOUNGE',
 '777 THEATER BAR',
 '7B BAR',
 '7TH AVENUE DONUT SHOP',
 '7TH FLOOR CAFE',
 '7TH MANSION KTV',
 '8 DRAGON & PHOENIX CHINESE RESTAURANT',
 '8 PAET RIO',
 '80 RIVERSIDE CAFE',
 '805 ZHENG YUAN BAO GOURMET',
 '809 GRILL & BAR RESTAURANT',
 '809 PERFECT DELI.',
 '8090 TAI WANESE',
 '810 DELI & CAFE',
 '829 BAR RESTAURANT',
 '83 1/2',
 '83 KIEN TUONG RESTAURANT',
 '833 ANNADALE ROAD CORP.',
 '85 BROAD CAFE',
 '85 CHINESE RESTAURANT',
 '86 BAKERY',
 '86 BEST BAKERY',
 '86 NOODLES',
 '86 SEAFOOD CHINESE RESTAURANT',
 '86 SUPERSTAR INC',
 '876 BAR LOUNGE CORP',
 '876 MARKET DELI',
 '88 CAFE',
 '88 CANTEEN',
 '88 CHINESE RESTAURANT',
 '88 DEGREES',
 '88 PALACE RESTAURANT',
 '888 KITCHEN',
 '8TH STREET WINECELLAR',
 '9 & 8 CAFE',
 '900 PARK',
 '9024/CATERING BY MICHAEL SCHICK INC.',
 '904 LUPITA RESTAURANT CORP',
 '940 FLUSHING LOUNGE/ARANCINI BROS',
 '95 SOUTH',
 '96 SOUTH PARK',
 '983 BUSHWICK LIVING ROOM',
 '99 CENT BEST PIZZA 5AVE INC',
 '99 CENT EXPRESS PIZZA',
 '99 CENT FRESH PIZZA',
 '99 CENT FRESH PIZZA VILLA CAFE',
 '99 CENT PIZZA',
 '99 CENTS BEST & FRESH PIZZA INC.',
 '99 CENTS FRESH HOT PIZZA',
 '99 CENTS FRESH SLICE PIZZA',
 '99 CENTS MEGA PIZZA',
 '99 FAVOR TASTE',
 '99 FRESH PIZZA',
 '99 MILES TO PHILLY',
 '99C FRESH PIZZA',
 '99¢ FAMOUS PIZZA',
 '99¢ HOT PIZZA',
 '9A KITCHEN & LOUNGE',
 '9TH AVE SALOON',
 '9TH STREET LUNCHEONETTE',
 '@ THE SQUARE(STARBUCKS)',
 '@NINE',
 'A & A BAKE SHOP',
 'A & B DELI & CATERING',
 'A & C COFFEE SHOP AND PIZZERIA',
 'A & C GUYANA BAKERY & RESTAURANT',
 'A & C KITCHEN',
 'A & J DELI FISH',
 'A & K TACOS',
 'A & M PIZZA',
 'A & S CATERERS',
 'A & S PIZZERIA',
 'A A CARIDAD RESTAURANT',
 'A ASO SUSHI',
 'A CAFE',
 'A CASA FOX',
 'A CHIBAN',
 'A DOG AND DUCK',
 'A K  US GROUP',
 'A LA SAIGON',
 'A LE BAGUETTE/ CAFE OLYMPIA',
 'A LOVE FOR CAKES',
 'A MARINO RESTAURANT',
 'A PLATE OF SOUL',
 'A PLUS EXPRESS/CHINESE RESTAURANT',
 'A PLUS PIZZA OF NY INC',
 'A PLUS THAI PLACE',
 'A SALT & BATTERY',
 'A SAN FUZHOU RESTAURANT',
 'A SLICE OF NEW YORK',
 'A SPICE LANE',
 'A SUSHI',
 'A TASTE OF CHINA NO 1 CHINESE FOOD',
 'A TASTE OF SEA FOOD',
 'A TASTE OF SHANGHAI RESTAURANT',
 'A TO Z CATERING',
 'A VOCE',
 'A WAI LOU RESTAURANT',
 'A&A GOURMET',
 'A&E NETWORKS',
 'A&E TENOCHTITLAN DELI & TAQUERIA',
 'A&L PIZZA RESTAURANT',
 'A&M WESTINDIES AMERICAN RESTAURANT',
 'A&P ROTI & PASTRY SHOP',
 'A&R HOT BAGELS',
 'A+ CHINESE RESTAURANT',
 'A+ LOLLIPOP',
 'A-1 PIZZA SHOP',
 'A-12 SUSHI & RAMEN',
 'A-JIAO SICHUAN CUISINE',
 'A-ROMA BAKERY',
 'A-TOWN BUFFALO WINGS',
 'A-WAH RESTAURANT',
 'A. A. CARIDAD RESTAURANT',
 'A. CHURRASQUEIRA RESTAURANT',
 'A. KAWAII JAPANESE RESTAURANT',
 'A.G KITCHEN',
 'A.I.G.CHARTIS',
 'A.J. PIZZERIA',
 'A.K.A. RESTAURANT',
 "A.R'S TAVERN",
 'A.W.O.L. ALL WALKS OF LIFE',
 'A1 OCHA SUSHI',
 "AA ADMIRAL'S CLUB LOUNGE",
 'AA CHINESE RESTURANT',
 'AA ICHIBAN SUSHI',
 'AA JING',
 'AAA BURRITO MARIACHI',
 'AAA CARIDAD',
 'AAA ICHIBAN SUSHI',
 'AAA KENNEDY FRIED CHICKEN',
 'AAHELI',
 'AAMANNS-COPENHGEN',
 'AANCHAL INDIAN RESTAURANT & BAR',
 'AANGAN',
 'AARONS CHINESE & THAI RESTAURANT',
 'AB BIAGI',
 'AB HALAL RESTAURANT',
 'ABA ASIAN FUSION CUISINE AVE',
 'ABA TURKISH RESTAURANT',
 'ABACE SUSHI',
 'ABACKY POTLUCK',
 'ABALEH',
 'ABBOCCATO RISTORANTE',
 'ABBY CHINESE RESTAURANT',
 'ABC BAKERY',
 'ABC BEER CO.',
 'ABC COCINA',
 'ABC KITCHEN',
 'ABDULLAH SWEETS AND RESTAURANT',
 'ABECA SUSHI',
 "ABEGALE'S ",
 'ABI JAPANESE RESTAURANT',
 'ABIDE BROOKLYN PITA',
 "ABIGAEL'S BROOKLYN",
 "ABIGAEL'S ON BROADWAY",
 'ABILENE',
 'ABIR HALAL RESTAURANT',
 "ABITINO'S PIZZA",
 'ABOTTEGA',
 'ABOU BAKERY',
 'ABOVE ALLEN',
 'ABOVE BALLROOM',
 'ABOVE ROOFTOP',
 'ABRACO',
 'ABRAHAM JOSHUA HESCHEL SCHOOL',
 'ABSOLUTE BAGELS',
 'ABSOLUTE COFFEE',
 'ABSOLUTE THAI RESTAURANT',
 'ABU DHABI LOUNGE',
 "ABU'S HOMESTYLE BAKERY",
 'ABUMI SUSHI',
 'ABURI SUSHI',
 'ABURIYA KINNOSUKE',
 'ABV',
 'ABYSSINIA ETHIOPIAN RESTAURANT',
 'ACADEMIA BARILLA RESTAURANTS',
 'ACADEMIA COFFEE',
 'ACADEMY RESTAURAUNT',
 'ACAPELLA GOURMET PIZZA & RESTAURANT CORP',
 'ACAPPELLA RESTAURANT',
 'ACAPULCO',
 'ACAPULCO BAR RESTAURANT',
 'ACAPULCO DELI & RESTAURANT',
 'ACCCORD ASIAN CUISINE',
 'ACCRA RESTAURANT',
 'ACE BAGEL & ROLL',
 'ACE BAR',
 'ACE HOT BAGEL & DELI',
 'ACE PIZZA',
 'ACELUCK THAI',
 "ACEY DUCEY'S",
 'ACHILLES HEEL',
 'ACME BAR & GRILL',
 'ACOSTA RESTAURANT',
 'ACQUA',
 'ACQUA RESTAURANT',
 'ACQUA SANTA',
 'ACQUISTA FOOD SERVICE II INC.',
 'ACQUISTA TRATTORIA',
 'ACQUOLINA CATERING',
 'ACTION BURGER',
 'ACTIVE HEALTH',
 'ACUARIO CAFE',
 'ADAM CHINESE COTTAGE',
 'ADAM KOSHARY & GRILL',
 'ADANA GRILL',
 'ADAR LOUNGE',
 'ADAYA AFRICAN AMERICAN RESTAURANT',
 "ADDEO'S RIVERDALE PIZZERIA",
 "ADELINA'S",
 'ADELLA',
 'ADEN RESTAURANT',
 'ADIRONDACK',
 'ADMIRALS CLUB CONC C',
 'ADOBE BLUES',
 'ADONAI DELI GROCERY INC',
 'ADORO LEI ',
 'ADP INNOVATIONS LAB',
 'ADRIA HOTEL',
 "ADRIAN & ROCKY'S CATERERS",
 'ADRIATIC RESTAURANT PIZZERIA BAR',
 "ADRIENNE'S PIZZA BAR",
 'ADVENTURES AMUSEMENT PARK',
 'ADVENTURES AMUSEMENTS PARK',
 'ADYAR ANANDA BHAVAN',
 'AEGEA GYROS AND PIZZA',
 'AENOS PIZZA',
 'AERONUOVA',
 'AFGAN KEBAB AND GRILL',
 'AFGHAN KEBAB HOUSE',
 'AFGHAN KEBAB HOUSE #1',
 'AFGHAN KEBOB HOUSE',
 'AFRICAN AMERICAN BEST FOOD',
 'AFRICAN LAST STOP',
 'AFRICAN MAQUIS LA PLANTATION',
 'AFRICAN MARKET (BABOON CAFE)',
 'AFRICAN TERRACE',
 'AFRICANA RESTAURANT',
 'AFRIKIKO GARDEN',
 'AFTER 8',
 "AFTERNOONE'S RESTAURANT",
 'AGAINST THE GRAIN',
 'AGAVE',
 'AGAVE DELI GROCERY',
 'AGAVE MEXICAN & AMERICAN GRILL',
 'AGED',
 'AGEHA JAPANESE FUSION',
 'AGNANTI CAFE',
 'AGNANTI RESTAURANT',
 'AGODA ASIAN CUISINE',
 'AGORA TAVERNA',
 'AGORA TURKISH RESTAURANT',
 'AGOZAR',
 'AGRA HEIGHTS',
 'AGRA KING RESTAURANT',
 'AGRA RESTAURANT',
 'AGRA TAJ MAHAL',
 'AGREEN RANCHO MEXICAN RESTAURANT',
 'AGUA FRESCA- TAPAS BAR EL KALLEJON',
 'AGUA ROJA BAR & LOUNGE',
 'AH YAH SUH NICE',
 'AH! CHIHUAHUA',
 'AH2 ICE TEA',
 'AHANA JAPANESE FUSION CUISINE INC',
 'AHI SUSHI',
 "AHMANI'S JUS JUICE & HEALTH KITCHEN",
 'AHOME EATERY',
 'AHUACHAPAN',
 'AI FIORI',
 'AI ZHEN FOO CHOW RESTAURANT',
 "AI'S SUSHI JAPANESE RESTAURANT",
 'AIDA CHIMPBAY',
 'AIG 31ST FLOOR CAFE',
 'AIKO SUSHI JAPANESE RESTAURANT (JINSHU SUSHI)',
 'AILEY BOUTIQUE',
 'AINSWORTH PARK',
 'AIR BAR/ NY DELI/ TIM HORTONS',
 'AIR FRANCE LOUNGE',
 'AIR INDIA LOUNGE',
 'AIRPORT DELI',
 'AIRSPACE LOUNGE',
 'AIRWAYS PIZZA & GYRO RESTAURANT',
 'AITA RESTAURANT',
 'AJ PIZZERIA',
 "AJ'S HOMEMADE GOURMET ITALIAN ICE & ICE CREAM",
 'AJANTA INDIA',
 'AJI 18',
 'AJI SUSHI',
 'AJI SUSHI HOUSE',
 'AJISAI',
 'AJISAI JAPANESE RESTAURANT',
 'AJISEN RAMEN',
 'AKA 99 CENTS FRESH PIZZA',
 'AKA MY HOUSE',
 'AKA SUSHI JAPANESE RESTAURANT',
 'AKAL BAKERY INC',
 'AKAMI SUSHI',
 'AKARU SUSHI',
 'AKDENIZ',
 'AKI 39 JAPANESE CUISINE',
 'AKI JAPANESE CUISINE',
 'AKI SUSHI',
 'AKI SUSHI & GRILL',
 'AKI SUSHI WEST',
 'AKIMOTO SUSHI',
 'AKIN GUMP',
 'AKINA SUSHI',
 'AKIRA JAPANESE CUISINE',
 'AKIYAMA JAPANESE RESTAURANT',
 'AKO ASIAN FUSION',
 'AKO JAPANESE RESTAURANT',
 'AKSARAY TURKISH CAFE AND RESTAURANT',
 'AKURA SUSHI',
 'AKWAABA RESTAURANT',
 'AL BUSTAN RESTAURANT',
 'AL CHOLO BAKERY',
 'AL DENTE PIZZERIA',
 'AL DI LA',
 'AL FORNO',
 'AL GOLDEN LION DELI',
 'AL HIRSCHFELD THEATRE',
 'AL HORNO LEAN MEXICAN',
 'AL HORNO LEAN MEXICAN KITCHEN INC',
 'AL NAIMAT RESTAURANT & SWEETS',
 'AL SAFA',
 "AL'S DELI",
 'AL-ARAF HALAL FRIED CHICKEN AND FROZEN DELIGHTS',
 'AL-DENTE',
 'AL-MEHRAN RESTAURANT',
 'AL-RAHAMANIA RESTAURANT AND CATERING',
 'ALA TURKA',
 'ALACHI MASALA INDIAN RESTAURANT',
 'ALADDIN',
 'ALADDIN GRILL',
 'ALADDIN HOOKAH LOUNGE & BAR INC',
 'ALAMEDA',
 'ALARCON DELI INC',
 'ALASKA BAR',
 'ALBA BAR CAFE',
 'ALBA PIZZA',
 "ALBA'S PIZZA",
 'ALBANY MANOR',
 'ALBELLA RISTORANTE & BAR',
 "ALBERT'S COFFEE SHOP",
 "ALBERTO'S",
 'ALCALA RESTAURANT',
 'ALCHEMY',
 'ALDEA RESTAURANT',
 'ALDER',
 "ALDO'S II PIZZA AND RESTAURANT",
 'ALE HOUSE CITY ISLAND',
 'ALEEF COFFEE HOUSE',
 'ALEGRE DESPERTAR',
 'ALEMBI CAFE',
 'ALEO',
 'ALEPPO SLIDER',
 'ALEWIFE',
 'ALEX CAFE & DELI',
 'ALEX LUNCHEONETTE',
 'ALEX STEAK HOUSE BAR & CAFE',
 "ALEX'S KITCHEN",
 'ALEXANDRA',
 'ALFANOOSE',
 "ALFIE'S",
 "ALFIE'S PIZZA",
 "ALFIE'S PLACE",
 "ALFONSO'S BAR",
 "ALFONSO'S PASTRY SHOPPE",
 'ALFREDO 100',
 'ALGONQUIN HOTEL',
 'ALHPA RESTAURANT',
 'ALI BABA',
 'ALI BABA RESTAURANT',
 "ALI BABA'S",
 "ALI'S ROTI SHOP",
 "ALI'S TRINIDAD ROTI SHOP",
 'ALIADA',
 'ALIBABA',
 'ALIBABA EXPRESS',
 'ALIBABA GRILL',
 'ALIBI CLUB',
 "ALICE'S ARBOR",
 "ALICE'S CAFE",
 "ALICE'S INT'L CAFE",
 "ALICE'S PALACE",
 "ALICE'S TEA CUP",
 'ALICES',
 'ALICES TEA CUP CHAPTER 2',
 'ALIDORO',
 'ALIMENTOS SALUDABLES - MEXICAN GRILL',
 'ALIOTTA BAKE SHOP',
 'ALITALIA - COMPAGNIA AEREA ITALIANA',
 'ALITALIA PIZZA RESTAURANT',
 'ALKOURA RESTAURANT',
 'ALL ABOUT FOOD',
 'ALL ABOUT INDIAN FOOD',
 'ALL AMERICAN COFFEE SHOP',
 'ALL AMERICAN DELI',
 'ALL NATIONS',
 'ALL STAR PIZZA',
 "ALL'ONDA",
 'ALLADIN',
 "ALLAN'S BAKERY",
 'ALLELUIA CHINESE RESTAURANT',
 'ALLEN RESTAURANT',
 'ALLERTON DINER',
 'ALLEY CAT',
 'ALLEY POND DRIVING RANGE',
 'ALLIANCE CAPITAL',
 'ALLIANZ CAFETERIA',
 'ALLIGATOR LOUNGE',
 'ALLORO',
 'ALLSWELL',
 'ALLURE',
 'ALMA',
 'ALMADIRA',
 'ALMANAC',
 'ALMANDO RESTAURANT INC',
 'ALMAR',
 'ALMASRY RESTAURANT',
 'ALMAYASS',
 'ALMAZ RESTAURANT',
 'ALMOND',
 'ALMONDINE',
 'ALNOOR HALAL DELI',
 'ALOBAR RESTAURANT',
 'ALOFT HARLEM WXYZ REFUEL',
 'ALOFT NEW YORK BROOKLYN/BROOKLYN TERRACE',
 'ALOR CAFE',
 'ALOR PASTA',
 "ALOYSIA'S LOUNGE",
 'ALPHA BAKERY',
 'ALPHA DONUTS',
 'ALPHA FUSION',
 'ALPHABET LOUNGE',
 'ALPHAVILLE',
 'ALPINE CINEMAS',
 'ALPINE FOOD TRADERS CORP',
 'ALSHAM PASTRIES',
 'ALT - A LITTLE TASTE',
 'ALTA',
 'ALTESI RISTORANTE',
 "ALTON'S PIZZA & DELI",
 'ALTUS CAFE',
 'ALWAYS HAPPY FOOD LLC',
 'ALYSHIA ALEEM COFFEE SHOP',
 'AM',
 'AM PLANNING GROUP LTD',
 'AM THAI BISTRO',
 'AMADEUS',
 'AMALI',
 'AMAN RESTAURANT',
 "AMANDA'S KITCHEN",
 'AMANECER LATINO RESTAURANT',
 'AMARACHI PRIME',
 'AMARANTH',
 'AMARANTO',
 'AMARETTO ESPRESSO BAR',
 'AMARIN CAFE',
 'AMARONE RESTAURANT',
 'AMARU',
 'AMAZE',
 'AMAZE FUSION LOUNGE',
 'AMAZING 66 RESTAURANT',
 'AMAZON CAFE',
 'AMBAR',
 'AMBASSADOR DINER',
 'AMBASSADOR DINING ROOM  AT SARATOGA FAMILY INN',
 'AMBASSADOR FOOD SERVICES',
 'AMBASSADOR THEATRE',
 'AMBER',
 'AMBER STEAK HOUSE',
 'AMBER VILLAGE  SUSHI AND THAI',
 'AMBIANCE EXPRESS',
 'AMBROSE HALL',
 'AMBROSIA',
 "AMBROSINO'S II",
 'AMBROSINOS PIZZERIA',
 "AMBY'S RESTAURANT",
 'AMC EMPIRE 25 THEATRES',
 'AMC KINGS VILLAGE 7 MAIN LEVEL',
 'AMC LOEWS VILLAGE 7 (3RD FL CONCESSION)',
 'AMC ORPHEUM 7',
 'AMC THEATERS 34TH STREET - MAIN CONCESSION',
 'AMC THEATRES (LOWES)  34TH STREET - AUXILLIARY CONCESSION',
 'AMC THEATRES 19TH STREET EAST',
 'AMC THEATRES 84TH STREET',
 'AMC THEATRES BAY PLAZA',
 'AMC THEATRES EMPIRE 25',
 'AMC THEATRES FRESH MEADOWS 7',
 'AMC THEATRES LINCOLN SQUARE',
 'AMC THEATRES MAGIC JOHNSON HARLEM 9',
 'AMC/LOWES THEATRES KIPS BAY',
 'AMCOOK FUSION SUSHI & ASIAN CUISINE',
 "AMELIA'S RESTAURANT",
 'AMELIE',
 'AMELIO RUSSO CIVIC',
 'AMERADA HESS EXPRESS CAFE',
 'AMERICA GOURMET FOOD',
 'AMERICAN & LATIN CUISINE',
 'AMERICAN AIRLINES ADMIRALS CLUB',
 'AMERICAN AIRLINES EMPLOYEE CAFETERIA',
 'AMERICAN AIRLINES THEATER',
 'AMERICAN BAR',
 'AMERICAN CHEEZ',
 'AMERICAN COFFEE SHOP',
 'AMERICAN CUT',
 'AMERICAN EXPRESS',
 'AMERICAN FLATBREAD TRIBECA HEARTH',
 'AMERICAN GIRL CAFE',
 "AMERICAN HERO & SUB'S",
 'AMERICAN HERO EXPRESS',
 'AMERICAN LANGUAGE COMMUNICATION CENTER CAFETERIA',
 'AMERICAN LEGION VETERANS POST',
 'AMERICAN MUSEUM OF NATURAL HISTORY FOOD COURT',
 'AMERICAN MUSEUM OF THE MOVING IMAGE',
 'AMERICAN RETRO BAR & GRILL',
 'AMERICAN TABLE CAFE AND BAR',
 'AMERICAN TURNERS NEW YORK',
 'AMERICAN WHISKEY',
 'AMERICAS BURGER AND WRAPS',
 'AMERICAS RESTORANTE',
 'AMERICO FOOD MARKET',
 'AMERIVENTS CATERING ',
 'AMF 34 AVENUE LANES',
 'AMICI 36',
 'AMICI BAKERY',
 'AMICI BAR',
 'AMICI BRICK OVEN PIZZA',
 'AMICI CAFE',
 'AMICI II',
 'AMICI PIZZA AND PASTA',
 'AMICI PIZZERIA',
 'AMIGOS MEXICAN BAR & RESTAURANT',
 'AMIGOS RESTAURANT, INC',
 'AMINA THAI',
 "AMIR'S",
 "AMIRA'S",
 'AMITY HALL',
 'AMLA CUISINE OF INDIA',
 'AMMA',
 'AMMOS ESTIATORIO',
 'AMNON KOSHER PIZZA',
 'AMOR BAKERY NO 2',
 'AMOR CUBANO',
 'AMOR KARAOKE & BAR',
 'AMORE PIZZERIA & RESTAURANT',
 'AMORINA',
 'AMORINO',
 'AMPLE HILLS CREAMERY',
 'AMSTERDAM ALE HOUSE',
 'AMSTERDAM BILLIARDS',
 'AMSTERDAM BURGER CO.',
 'AMSTERDAM GOURMET',
 'AMSTERDAM RESTAURANT & TAPAS LOUNGE',
 'AMSTERDAM SOCIAL',
 'AMSTERDAM TAVERN',
 'AMURA JAPANESE RESTAURANT',
 'AMUSE WINE BAR',
 "AMY & CATHY'S CHINESE RESTAURANT",
 "AMY RUTH'S RESTAURANT",
 "AMY'S BREAD",
 "AMY'S CAFE AND BAKERY",
 "AMY'S RESTAURANT",
 'AN BEAL BOCHT CAFE',
 'AN CHOI',
 "ANA'S BAKERY & CAFE",
 "ANA'S PASTRY SHOP CORP.",
 'ANABLE BASIN SAILING',
 'ANAIAH RESTAURANT',
 'ANALOGUE',
 'ANARKALI INDIAN FOOD',
 'ANASSA TAVERNA',
 'ANATOLIA MEDITERRANEAN CUISINE',
 'ANATOLIAN GYRO RESTAURANT',
 'ANCHOR',
 'ANCHOR COFFEE',
 'ANCHOR INN',
 'ANCHOR WINEBAR LLC',
 'ANDALUCIA BAR & LOUNGE',
 'ANDAMAN THAI BISTRO',
 'ANDANADA',
 'ANDAZ',
 'ANDAZ FIFTH AVENUE',
 'ANDIAMO CAFE',
 "ANDRE'S CAFE",
 "ANDRE'S HUNGARIAN",
 "ANDRE'S HUNGARIAN STRUDELS & PASTRIES",
 "ANDRE'S PIZZA",
 "ANDREA'S CHICKEN",
 "ANDREA'S RESTAURANT (JG DELICIOUS FOOD)",
 'ANDRES CARNE DE TRES',
 "ANDREW & FRANK'S DELI",
 "ANDREW'S COFFEE SHOP",
 "ANDREW'S DINER",
 "ANDREW'S PIZZERIA",
 'ANDREWS COFFEE SHOP',
 'ANDY BOY MEXICAN RESTAURANT',
 "ANDY'S CAFE",
 "ANDY'S CAFETERIA",
 "ANDY'S CAFETERIA (HPD BUILDING)",
 "ANDY'S DELI",
 "ANDY'S RESTAURAUNT",
 "ANDY'S TERIYAKI & TACO",
 'ANEJO',
 'ANEJO TRIBECA',
 'ANELLA',
 'ANESIS CAFE',
 'ANFORA',
 'ANGEBIENVENDIA',
 'ANGEL CANDY STORE',
 'ANGEL FLAKES PATTIES',
 "ANGEL'S 1 BAKERY",
 "ANGEL'S GRILL",
 'ANGELA CAKE',
 'ANGELA RESTAURANT OF NY',
 "ANGELA'S BAKERY",
 "ANGELA'S PIZZERIA",
 "ANGELA'S ROCK AND ROLL DELI",
 "ANGELA'S TACO",
 'ANGELICA KITCHEN',
 'ANGELICA PIZZERIA',
 "ANGELICA'S BAKERY",
 'ANGELIKA FILM CENTER',
 'ANGELINA',
 'ANGELINA GOURMET FOODS',
 "ANGELINA'S PANINI BAR",
 "ANGELINA'S RISTORANTE",

### STEP 2: Implement the similarity function

### Computing the similarity between two strings

There are many ways that we can calculate the similarity between two strings. For our case, we will focus on a few similarity metrics that already have implementations in Python. 

##### Some commonly used similarity metrics

* [Sequence matching](https://docs.python.org/3.6/library/difflib.html) (part of standard Python) ([example](http://stackoverflow.com/questions/17388213/find-the-similarity-percent-between-two-strings))
* [Edit distance](https://en.wikipedia.org/wiki/Edit_distance) ([Python Jellyfish Library](https://github.com/jamesturk/jellyfish))
* [N-gram distance](http://pythonhosted.org/ngram/tutorial.html#comparing-and-searching-strings)


#### STEP 2.a: Let's figure out how we can install the libraries...

In [ ]:
# Edit distance
!sudo pip3 install -U jellyfish

In [ ]:
# Ngram
!sudo pip3 install -U ngram

In [ ]:
pip3 install jellyfish
pip3 install ngram

#### STEP 2.b: Now let's test our similarity functions with various examples

Once we have installed the necessary libraries for our project, we proceed to `import` them and test the functions.

In [114]:
import jellyfish

##### Edit Distance

From Wikipedia:

The [edit distance](https://en.wikipedia.org/wiki/Edit_distance) _ is a way of quantifying how dissimilar two strings (e.g., words) are to one another by counting the minimum number of operations required to transform one string into the other._. 

The Levenshtein distance between "kitten" and "sitting" is 3. A minimal edit script that transforms the former into the latter is:

* kitten → sitten (substitution of "s" for "k")
* sitten → sittin (substitution of "i" for "e")
* sittin → sitting (insertion of "g" at the end).

In [118]:
jellyfish.levenshtein_distance('Starbucks', 'Peet\s')

8

Let's try a few more examples

In [119]:
jellyfish.levenshtein_distance('Prasant', 'Prashant')

1

In [120]:
jellyfish.levenshtein_distance('Starbucks', 'Starbacks')

1

In [121]:
jellyfish.levenshtein_distance('Starbucks', 'Starbuck')

1

In [122]:
jellyfish.levenshtein_distance('Starbucks', 'Wendys')

8

##### Demerau Levenshtein distance

The Demerau Levenshtein distance also allows for  transposition of two adjacent characters.

In [123]:
jellyfish.levenshtein_distance('Prasant', 'Prashant')

1

In [124]:
jellyfish.damerau_levenshtein_distance('Prasant', 'Prashant')

1

In [125]:
jellyfish.damerau_levenshtein_distance('Starbucks', 'Starbucsk')

1

In [127]:
jellyfish.levenshtein_distance('Starbucks', 'starbucks')

1

###### Jaro–Winkler distance

[Jaro–Winkler distance](https://en.wikipedia.org/wiki/Jaro%E2%80%93Winkler_distance) is a string metric for measuring the edit distance between two sequences. Informally, the **Jaro** distance between two words is the minimum number of single-character transpositions required to change one word into the other; the **Jaro–Winkler** distance  gives more favourable ratings to strings that match from the beginning.

In [131]:
jellyfish.jaro_winkler('Starbucks', 'starbucks')

0.9259259259259259

In [129]:
jellyfish.jaro_winkler('Starbucks', 'Milwbucks')

0.7037037037037037

##### Soundex

[Soundex](https://en.wikipedia.org/wiki/Soundex) is a phonetic algorithm for indexing names by sound, as pronounced in English. The goal is for homophones to be encoded to the same representation so that they can be matched despite minor differences in spelling. 

Using this algorithm, both "Robert" and "Rupert" return the same string "R163" while "Rubin" yields "R150". "Ashcraft" and "Ashcroft" both yield "A261". "Tymczak" yields "T522" not "T520" (the chars 'z' and 'k' in the name are coded as 2 twice since a vowel lies in between them). "Pfister" yields "P236" not "P123" (the first two letters have the same number and are coded once as 'P').

In [134]:
jellyfish.soundex('Robert')

'R163'

In [135]:
jellyfish.soundex('Rupert')

'R163'

In [136]:
jellyfish.soundex('Ashcroft')

'A226'

In [137]:
jellyfish.soundex('Ashcraft')

'A226'

In [138]:
jellyfish.soundex('Papadopoylis')

'P131'

In [139]:
jellyfish.soundex('Papadopoulos')

'P131'

#### Ngrams

With the n-gram similarity score, we split the word into sequences of n consecutive characters (n-grams) and then compare the sets of n-grams between the two words. For example, the name "Apples" has the following 2-grams: "Ap", "pl", "es". (We can also add "#A" and "s#" if we want to capture the prefix and suffixes.) Strings that share a large number of q-grams are often similar.

In [140]:
import ngram

In [145]:
ngram.NGram.compare('Prasant', 'Prashant',N=2)

0.7

In [146]:
ngram.NGram.compare('Prasant', 'Prashant',N=1)

0.875

In [147]:
ngram.NGram.compare('New York University','New York Universty',N=2)

0.8571428571428571

In [148]:
ngram.NGram.compare('New York University','University of New York',N=1)

0.8636363636363636

In [149]:
ngram.NGram.compare('New York University','Columbia Universty',N=2)

0.3

#### Task 1: Create a function that takes as input two strings and returns their similarity

Given the experience with the metrics above, we want now to create a function that takes as input a string and returns their similarity. Our key requirement is for the similarity metric to be between 0 and 1, with 0 meaning no similarity, and 1 corresponding to identical strings. Some of the similarity functions above would fit right in, others will need some work.

In [153]:
# For n-gram similarity it is very simple, we just return the result
import ngram
def computeSimilarity_ngram(str1, str2):
    similarity = ngram.NGram.compare(str1,str2,N=1)
    return similarity

print(computeSimilarity_ngram("New York University", "New York Univ"))
print(computeSimilarity_ngram("New York University", "Columbia Univ"))

0.6842105263157895
0.28

In [155]:
# For edit distance
import jellyfish
def computeSimilarity_editdistance(str1, str2):
    # Compute the maximum length of the two strings, to normalize our distance
    maxlength = max( len(str1), len(str2))
    # Compute the edit distance between two strings
    distance = jellyfish.levenshtein_distance(str1, str2)
    similarity = 1 - distance/maxlength
    return similarity

print(computeSimilarity_editdistance("New York University", "New York Univ")
)
print(computeSimilarity_editdistance("New York University", "Columbia Univ"))

0.6842105263157895
0.26315789473684215

In [156]:
# For soundex
import jellyfish
def computeSimilarity_soundex(str1, str2):
    soundex1 = jellyfish.soundex(str1)
    soundex2 = jellyfish.soundex(str2)
    if soundex1 == soundex2:
        return 1.0
    else: 
        return 0.0
    
computeSimilarity_soundex("New York University", "New York Univ")

1.0

#### Task 2: Modify the functions above to allow for various similarity calculation methods.

We will now up our game, and return back the results of the comparison using various methods. The `method` parameter defines the metric that we will use

In [ ]:
def computeSimilarity(str1, str2, method):
    if method == 'ngram3':
        return computeSimilarity_ngram(str1, str2)
    elif method == 'edit_distance':
        return computeSimilarity_editdistance(str1, str2)
    elif method == 'soundex':
        return computeSimilarity_soundex(str1, str2)
    else:
        return "Method not supported"

In [ ]:
computeSimilarity("New York University", "New York Univ", 'ngram3')

In [ ]:
computeSimilarity("New York University", "New York Univ", 'edit_distance')

In [159]:
# Most of the time we are going to compute all similarity metrics
# and return back a dictionary with all the metrics
def computeSimilarity(str1, str2):
    results = {
        'ngram': computeSimilarity_ngram(str1, str2),
        'edit_distance' : computeSimilarity_editdistance(str1, str2),
        'soundex': computeSimilarity_soundex(str1, str2) 
    }
    results['average'] = sum(results.values()) / len(results)
    return results

In [160]:
computeSimilarity("New York University", "New York Univ")

{'ngram': 0.6842105263157895,
 'edit_distance': 0.6842105263157895,
 'soundex': 1.0,
 'average': 0.7894736842105262}

### STEP 3: Compute similarity of a company against a list of company names

We now create a function that accepts a company name and a list of companies, and computes their similarity. This part will get us to exercise our for-loops, and also illustrate how we can use lists and tuples.

**Sorting a list of tuples**:_This part is a little bit advanced for now, so I will just give the code below. (Solution taken from http://stackoverflow.com/questions/3121979/how-to-sort-list-tuple-of-lists-tuples). Here is a small example below, which we will reuse in our function:_

In [ ]:
data = [("Prasant",0.5), ("Gavin",0.6), ("Erlich", 0.4)]
data.sort(key=lambda tupl: tupl[1], reverse=True)  # sorts in place, in descending order, based on the second element of the tuple
print(data)

In [161]:
# STEP 3: We now create a function that accepts a company name
# and a list of companies, and computes their similarity
# We have a 'top' parameter (by default set to be 5)
# that restricts the results to only the most similar 
# string pairs. We also define a parameter "method" that defines 
# what is the similarity method that we want to use. We also define a 
# similarity threshold for keeping only results with sufficient similarity

def companySimilarity(query, companyList, top = 5, method = 'average', sim_threshold = 0.25):
    # We will use a list to store the similar matches
    results = []

    # Go through all the restaurants
    for c in companyList:
        # We compute the similarities (all metrics)
        # between the string "query" and the string "c"
        # which is the variable that iterates over the list "companyList"
        similarities = computeSimilarity(query, c)
        # If the ngram similarity is above 0.25
        if similarities[method]>sim_threshold:
            # Add in results the matching restaurant name r
            # and the similarity
            results.append( (c, similarities[method]) )
        # ALTERNATIVELY, we can average all similarities
        # and r

    # This list contains the matches. The list contains a list
    # of tuples (company name, similarity)
    # We sort in decreasing order of similarity
    results.sort(key=lambda tupl: tupl[1], reverse=True)
    
    # We return only the top results
    return results[:top]

In [162]:
query = 'MACDONALDS'
companySimilarity(query, restaurants, 
                  top = 5, method = 'ngram', sim_threshold = 0.25)

[('MCDONALDS', 0.9),
 ('MC DONALDS', 0.8181818181818182),
 ("MCDONALD'S", 0.8181818181818182),
 ('MCDONALD', 0.8),
 ("MC DONALD'S", 0.75)]

In [163]:
query = 'MACDONALDS'
companySimilarity(query, restaurants, 
                  top = 5, method = 'average', sim_threshold = 0.25)

[('MCDONALDS', 0.9333333333333332),
 ('MC DONALDS', 0.8727272727272727),
 ("MCDONALD'S", 0.8727272727272727),
 ('MCDONALD', 0.8666666666666667),
 ("MC DONALD'S", 0.8257575757575758)]

In [164]:
query = 'STARBUCKS'
companySimilarity(query, restaurants, 
                  top = 5, method = 'ngram', sim_threshold = 0.25)

[('STARBUCKS', 1.0),
 ('STARBUCKS 22420', 0.6),
 ('TURKISS', 0.6),
 ('LUCKY STAR', 0.5833333333333334),
 ('SURF SHACK', 0.5833333333333334)]

In [165]:
query = 'STARBUCKS'
companySimilarity(query, restaurants, 
                  top = 20, method = 'average', sim_threshold = 0.25)

[('STARBUCKS', 1.0),
 ('STARBUCKS 22420', 0.7333333333333334),
 ('STARBUCKS COFFEE', 0.7083333333333334),
 ('STARBUCKS # 14840', 0.6862745098039215),
 ('STARBUCKS COFFEE#7462', 0.6190476190476191),
 ('STARBUCKS COFFEE #3438', 0.6060606060606061),
 ('STARBUCKS COFFEE #7344', 0.6060606060606061),
 ('STARBUCKS COFFEE #7358', 0.6060606060606061),
 ('STARBUCKS COFFEE #7416', 0.6060606060606061),
 ('STARBUCKS COFFEE #7682', 0.6060606060606061),
 ('STARBUCKS COFFEE #7826', 0.6060606060606061),
 ('STARBUCKS COFFEE #9282', 0.6060606060606061),
 ('STARBUCKS COFFEE #9722', 0.6060606060606061),
 ('STARBUCKS COFFEE# 7426', 0.6060606060606061),
 ('STARBUCKS (STORE 16628)', 0.5942028985507246),
 ('STARBUCKS COFFEE # 7463', 0.5942028985507246),
 ('STARBUCKS COFFEE # 7540', 0.5942028985507246),
 ('STARBUCKS COFFEE #14240', 0.5942028985507246),
 ('STARBUCKS COFFEE #18509', 0.5942028985507246),
 ('STARBUCKS COFFEE #20679', 0.5942028985507246)]

### Step 4: Perform the similarity computation across all companies in the dataset.

In [ ]:
# STEP 4: We are almost done. We now just go through all the companies in the list
# and we call the companySimilarity function that computes the similar company names
# for all the companies in the list. We store the results in a dictionary, with the 
# key being the company name, and the value being a "list of tuples" with the 
# similar company names and the corresponding similarity value.

In [ ]:
matches = 0 
for q in restaurants:
    results = companySimilarity(q, restaurants, 
                  top = 5, method = 'average', sim_threshold = 0.5)
    # We will print only non-identical matches (remember the top
    # match is  the restaurant matching with itself)
    if (len(results)>1):
        print(q, "===>", results[1:])
        print("\n")
        matches = matches + 1
    if matches > 10:
        break # stop after finding 10 restaurants with matches

In [ ]:
matches = 0

for q in restaurants:
    results = companySimilarity(q, restaurants, 
                  top = 5, method = 'average', sim_threshold = 0.5)
    # We will print only non-identical matches (remember the top
    # match is  the restaurant matching with itself)
    if (len(results)>1):
        for r in results[1:]:
            print(f"{q}\t{r[0]}\t{r[1]}")
            matches = matches + 1
    if matches>10: 
        break # We stop after 10 matches